name: Worker

on:
  workflow_dispatch:
    inputs:
      queue:
        description: "Queue to listen on"
        required: false
        default: "*"

jobs:
  run-worker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout master
        uses: actions/checkout@v4
        with:
          ref: master

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Clone main repository
        uses: actions/checkout@v4
        with:
          repository: "hans362/CredsRadar"
          token: ${{ secrets.GH_PAT }}
          path: "CredsRadar"

      - name: Install dependencies
        working-directory: CredsRadar
        run: |
          python -m pip install uv
          uv sync

      - name: Start worker
        working-directory: CredsRadar
        env:
          RABBITMQ_HOST: ${{ secrets.RABBITMQ_HOST }}
          RABBITMQ_USER: ${{ secrets.RABBITMQ_USER }}
          RABBITMQ_PASSWORD: ${{ secrets.RABBITMQ_PASSWORD }}
          API_URL: ${{ secrets.API_URL }}
          API_TOKEN: ${{ secrets.API_TOKEN }}
        run: |
          uv run python worker.py ${{ github.event.inputs.queue }}
